/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Lexend&display=swap");

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000030;
    font-family: 'Lexend', sans-serif;
}

h1,
h2 {
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #005da0;
}

ul {
    list-style: none;
}

/* Header */

header {
    background-color: #ffffff;
    width: 100%;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    display: flex;
    align-items: center;
}

#logo>img {
    height: 36px;
    padding: 0 5px;
    margin: auto;
    text-align: center;
    transform: rotateY(180deg);
}

#menu {
    font-size: 100%;
}

/* Targets non-active nav items */
.non-active {
    background-color: #ffffff;
    color: #000030;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    display: block;
}

/* Targets active nav items */
.active {
    background-color: #005da0;
    color: #ffffff;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    display: block;
}

/* Nav styles with dropdown toggle */
nav {
    background-color: #ffffff;
    width: 100%;
    padding: .5rem;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

/* Nav elements that come after the nav-toggle id when checked */
#nav-toggle:checked~nav {
    display: block;
}

/* Nav elements when toggle is unchecked */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: #005da0;
    font-size: 2rem;
}

/* Main */

/* Carousel image gallery */
.carousel-container {
    width: 100%;
    max-height: 800px;
    position: relative;
    margin-top: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    /* Controls the duration of each image before scrolling */
    animation: scroll 20s linear infinite;
}

.carousel>img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Auto scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* Footer */

#footer {
    background-color: #000030;
    margin-top: 2rem;
}

/* Social Media links */
#social-media {
    padding: 1rem;
}

#social-media>ul {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-link {
    color: #ffffff;
}

/* Newsletter */
#newsletter {
    padding: 0 1rem 1rem;
    margin: 0 auto;
    max-width: 400px;
}

#newsletter>h2 {
    color: #ffffff;
    font-size: 200%;
    text-align: center;
}

.button-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#newsletter form input::placeholder {
    color: #000030;
}

.newsletter-input {
    font-size: 100%;
    color: #000030;
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border-style: inset;
    border-color: #808080;
    border-width: 5px;
    border-radius: 10px;
}

.newsletter-btn {
    font-size: 100%;
    color: #ffffff;
    background-color: #005da0;
    width: 50%;
    max-width: 100px;
    padding: 5px;
    border-style: inset;
    border-color: #808080;
    border-width: 5px;
}

/* Sets radius to be flat against the adjacent button */
#newsletter-submit {
    margin-right: 5px;
    border-radius: 10px 0 0 10px;
}

#newsletter-reset {
    margin-left: 5px;
    border-radius: 0 10px 10px 0;
}

/* Media Query: tablets (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */

    header {
        padding: 0 0 0 1rem;
        align-items: center;
    }

    #logo {
        font-size: 300%;
    }

    #logo>img {
        height: 60px;
    }

    #menu {
        font-size: 110%;
        display: flex;
    }

    #menu>li {
        width: 120px;
        text-align: center;
    }

    /* Replaces nav toggle with an inline-block */
    nav {
        display: inline-block;
        position: relative;
        width: fit-content;
    }

    /* Removes nav toggle */
    .nav-toggle-label {
        display: none;
    }

    /* Footer */

    #social-media>ul {
        font-size: 3rem;
    }

    /* Newsletter */
    #newsletter {
        max-width: 600px;
    }

    #newsletter>h2 {
        font-size: 300%;
    }

    /* Displays first and last name inputs on the same line */
    .name-inputs {
        display: flex;
        flex-direction: row;
    }

    .email-input {
        display: flex;
        justify-content: center;
    }

    /* Sets radius to be flat against the adjacent button */
    #newsletter-fname {
        margin-right: 5px;
        border-radius: 10px 0 0 10px;
    }

    #newsletter-lname {
        margin-left: 5px;
        border-radius: 0 10px 10px 0;
    }
}